<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GetBill</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LocVer</display-name>
    <servlet-name>LocVer</servlet-name>
    <servlet-class>getbill.LocVer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocVer</servlet-name>
    <url-pattern>/LocVer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paybill</display-name>
    <servlet-name>paybill</servlet-name>
    <servlet-class>paybill.paybill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paybill</servlet-name>
    <url-pattern>/paybill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paybill</display-name>
    <servlet-name>Paybill</servlet-name>
    <servlet-class>getbill.Paybill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paybill</servlet-name>
    <url-pattern>/Paybill</url-pattern>
  </servlet-mapping>
</web-app>